<div class="b-container">
  <app-header [showHome]="showHome" [showBar]="showBar" [showBack]="false"></app-header>
  <div class="c-chronology">
    <div class="c-simpleBar">
      <div class="c-chronology__middle"  data-simplebar data-simplebar-auto-hide="false" id="chronology">
        <div class="c-chronology__topTimeLine">
          <div class="c-circle" (click) = ordering()>
            <p *ngIf="characterList[0]" class="c-circle__text">{{characterList[0].age.age}}</p>
          </div>
          <div class="c-arrow">
            <img *ngIf="ordered" src="/assets/images/flechaUp.svg" alt=""/>
            <img *ngIf="!ordered" src="/assets/images/flechaDown.svg" alt=""/>
          </div>
          <div class="c-arrow__down">
          </div>
        </div>
        <div class="c-chronology__timeLine">
          <div class="c-block">
            <div *ngFor="let character of characterList; let i = index" [attr.data-index]="i">
              <app-chronology-box *ngIf="(i % 2) === 0" [character]="character" [index]="i" [right]="false"></app-chronology-box>
            </div>
          </div>
          <div class="c-block">
            <div class="c-block--blank"></div>
            <div *ngFor="let character of characterList; let i = index" [attr.data-index]="i">
              <app-chronology-box *ngIf="(i % 2) !== 0" [character]="character" [index]="i" [right]="true"></app-chronology-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-menu></app-menu>
