<app-loading [loading]="loading"></app-loading>
<div class="b-container">
  <app-header [showHome]="showHome" [showBar]="showBar" [showBack]="showBack"></app-header>
  <div class="c-main-HouseDetail">
    <div class="detail">
      <div class="c-main-top">
        <img *ngIf="houseData.logoURL" class="c-main-top__image" src="{{houseData.logoURL}}" alt="{{houseData.name}}"/>
        <img *ngIf="!houseData.logoURL" class="c-main-top__image" src="/assets/images/no-image.png" alt="{{houseData.name}}"/>
      </div>
      <div class="c-main-middle">
                        <span class="c-main-middle__text">
                            {{houseData.name}}
                        </span>
      </div>
      <div class="c-main-bottom">
        <div class="c-main-bottom__box">
          <div class="c-main-bottom__title">
            <span>{{"HOUSE.WORDS" | translate}}</span>
          </div>
          <div class="c-main-bottom__content">
            <div class="c-main-bottom__list--margin">
                                    <span
                                      class="c-main-bottom__text">{{houseData.words}}
                                    </span>
            </div>
          </div>
        </div>
        <div class="c-main-bottom__box">
          <div class="c-main-bottom__title">
            <span>{{"HOUSE.SEAT" | translate}}</span>
          </div>

          <div class="c-main-bottom__content">
            <div class="c-main-bottom__list">
              <div class="c-main-bottom__list--margin">
                <span class="c-main-bottom__text" *ngFor="let seat of houseData.seat">{{seat}}<br/></span>
              </div>
            </div>
          </div>
        </div>
        <div class="c-main-bottom__box">
          <div class="c-main-bottom__title">
            <span>{{"HOUSE.REGION" | translate}}</span>
          </div>
          <div class="c-main-bottom__content">
            <div class="c-main-bottom__list">
              <div class="c-main-bottom__list--margin">
                  <span class="c-main-bottom__text" *ngFor="let region of houseData.region">{{region}}<br/></span>
              </div>
            </div>
          </div>

        </div>
        <div class="c-main-bottom__box">
          <div class="c-main-bottom__title">
            <span>{{"HOUSE.ALLEGIANCE" | translate}}</span>
          </div>
          <div class="c-main-bottom__content">
            <div class="c-main-bottom__list">
              <div class="c-main-bottom__list--margin">
                  <span class="c-main-bottom__text" *ngFor="let allegiance of houseData.allegiance">{{allegiance}}<br/></span>
              </div>
            </div>
          </div>
        </div>
        <div class="c-main-bottom__box">
          <div class="c-main-bottom__title">
            <span>{{"HOUSE.RELIGIONS" | translate}}</span>
          </div>
          <div class="c-main-bottom__content">
            <div class="c-main-bottom__list">
              <div class="c-main-bottom__list--margin">
                  <span class="c-main-bottom__text" *ngFor="let religion of houseData.religion">{{religion}}<br/></span>
              </div>
            </div>
          </div>
        </div>
        <div class="c-main-bottom__box">
          <div class="c-main-bottom__title">
            <span>{{"HOUSE.CREATION" | translate}}</span>
          </div>
          <div class="c-main-bottom__content">
            <div class="c-main-bottom__list--margin">
                                    <span *ngIf="date !== undefined"
                                      class="c-main-bottom__text">{{date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear()}}
                                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
