<div class="c-header">
  <div class="c-left-bar">
    <app-search-bar *ngIf="showBar" class="c-searchBar" (searchBarEmitter)="searchBarChanges($event)"></app-search-bar>
  </div>
  <div class="c-top-links">
    <a *ngIf="showHome" routerLink="/"><img class="c-top-links__flag--group" src="/assets/images/group.png" alt=""/></a>
    <img class="c-top-links__flag" src="/assets/images/spain.png" alt=""/>
    <img class="c-top-links__flag" src="/assets/images/romania.png" alt=""/>
    <img class="c-top-links__flag" src="/assets/images/uk.png" alt=""/>
  </div>
</div>
